html, body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}

body {
    display: flex;
    flex-direction: column;
}

#content {
    padding-top: 10%;
    flex: 1; 
}

video {
    filter: brightness(20%);
    background-attachment: fixed;
    -webkit-filter: brightness(20%);
}

@media (max-width: 576px) {
    #content {
        padding-top: 30%;
    }
    #footer {
        padding-top: 30%;
    }
    .title {
        font-size: 2rem;
    }
}